[Unit]
Description=st raw
Requires=xorg@%i.target
After=xorg@%i.target

[Service]
ExecStart=/usr/bin/st -g 100x30
Environment=DISPLAY=:%i

[Install]
WantedBy=wm@%i.target
