[Unit]
Description=Window Manager Target
Requires=xmonad@%i.service
After=xmonad@%i.service
# Requires=dbus.socket xorg@%i.target xmonad@%i.service
# Wants=startup.target
AllowIsolate=true

# [Install]
# WantedBy=default.target
