[Unit]
Description=Window Manager Target
Wants=xorg@%i.socket
# Wants=startup.target
Requires=dbus.socket
AllowIsolate=true

[Install]
Alias=default.target
