[Unit]
Description=xmobar
Requires=xorg@%i.socket
After=xorg@%i.socket
Before=xmonad@%i.service

[Service]
ExecStart=/usr/bin/xmobar %h/.xmonad/xmobarrc
Environment=DISPLAY=:%i

[Install]
WantedBy=wm@%i.target
