[Unit]
Description=xmonad
Requires=xorg@%i.target
After=xorg@%i.target
# Before=startup.target

[Service]
ExecStart=/usr/bin/xmonad

# [Install]
# WantedBy=wm@%i.target
