[Unit]
Description=xmonad
Requires=xorg@%i.target
After=xorg@%i.target
# Before=startup.target

[Service]
# ExecStartPre=/usr/bin/systemctl --user import-environment PATH
Environment=DISPLAY=:%i
ExecStart=/usr/bin/st

# [Install]
# WantedBy=wm@%i.target
