[Unit]
Description=xmonad
Requires=xorg@%i.target
After=xorg@%i.target
# Before=startup.target

[Service]
ExecStartPre=/usr/bin/systemctl --user import-environment PATH
ExecStart=/usr/bin/st
# Environment=DISPLAY=:%i

# [Install]
# WantedBy=wm@%i.target
