[Unit]
Description=DE - Window Compositor - %P
# Requisite=wm.target
# After=wm.target
# PartOf=main.target
# Before=main.target
# DISABLED: until xorg drivers more stable
# ConditionHost=!neo

[Service]
# BUG: red background, flickering
#   TEMP:FIXED: https://github.com/chjj/compton/issues/477
# Environment=allow_rgb10_configs=false

ExecStart=/usr/bin/picom
Restart=on-abnormal
# RestartSec=5
# TimeoutStopSec=5

[Install]
WantedBy=xsession.target
