[Unit]
Description=Mail sync service - %P
After=network.target network-online.target dbus.socket
# TODO: sep unit with dependency on davmail.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'exec r.mbsync %I -- -qq --pull-new new'
# TODO: error or ignore post-hook if notmuch config file doesn't exists
ExecStartPost=/bin/sh -c 'exec r.notmuch %I -- new'
