[Unit]
Description=Window Compositor - %P
Requires=xorg.target
After=wm.target
PartOf=main.target
Before=main.target

[Service]
ExecStart=/usr/bin/compton -d ${DISPLAY}

[Install]
WantedBy=main.target
