[Unit]
Description=DE - Window Compositor - %P
Requisite=wm.target
After=wm.target
# PartOf=main.target
# Before=main.target
# DISABLED: until xorg drivers more stable
ConditionHost=!neo

[Service]
ExecStart=/usr/bin/compton -d ${DISPLAY}
TimeoutStopSec=5

[Install]
WantedBy=main.target
