[Unit]
Description=Status Bar - xmobar
Requires=xorg.socket xmobar.socket
After=xmonad.service
# Before=wm.target
PartOf=wm.target

[Service]
ExecStart=/bin/sh -c 'exec %h/.cabal/bin/xmobar %h/.xmonad/xmobarrc'
StandardInput=socket
