[Unit]
Description=DE - Status Bar - (Socket)
# Conflicts=logoff.target
# PartOf=wm.target

[Socket]
RuntimeDirectory=%P
# RemoveOnStop=true
ListenFIFO=%t/%P/wm
# BUG: can't write from xmonad/bash?
# DirectoryMode=0700
# SocketMode=0660

[Install]
WantedBy=sockets.target
Also=xmobar.service
