[Unit]
Description=DE - Window Manager - %P
Conflicts=logoff.target
Requires=xorg.target
After=xorg.target xmobar.service
Before=xprofile.service
# FIXED: continues to run even if wm.target failed
# PartOf=wm.target
# OnFailure=st.service
# OnFailureJobMode=isolate

[Service]
SyslogIdentifier=xmonad
Type=forking
Environment=XDG_CURRENT_DESKTOP=xmonad
# BUG: USR1 is uncatched on '--restart' -- systemd trying to reconnect to bus on USR1
ExecStart=/bin/sh -c 'trap "exit 0" USR1; NOTIFY_PPID=$$$$ %h/.xmonad/xmonad-x86_64-linux & wait; exit 1'
# ExecStart=/bin/sh -c "trap 'exit 0' USR1; (exec '%h/.xmonad/xmonad-x86_64-linux') & wait; exit 1"
Restart=on-abnormal
RestartSec=5

# TRY:FIND: notify by creating some file (inotify)
# Type=notify
# NotifyAccess=all
# BAD(forking), BAD(notify)
# ExecStart=/usr/bin/xmonad

[Install]
RequiredBy=wm.target
