[Unit]
Description=Window Manager - %P
Requires=xorg.target
PartOf=wm.target

[Service]
# BUG: default 'xmonad' can't notify
# Type=notify
# NotifyAccess=all
# BAD(forking), BAD(notify)
ExecStart=/usr/bin/xmonad
Environment=XDG_CURRENT_DESKTOP=xmonad
# ALT: ExecStart=/bin/sh -c %h/.xmonad/xmonad-x86_64-linux

[Install]
RequiredBy=wm.target
