[Unit]
Description=Terminal Emulator - %P
Requires=xorg.target
PartOf=wm.target
Conflicts=xmonad.service

[Service]
ExecStart=/usr/bin/st -name login -g 100x30+0+0

[Install]
WantedBy=wm.target
