*,div,pre,textarea,body,input,td,tr,p {
    background-color: #101010 !important;
    background-image: none !important;
    color: #bbbbbb !important;
}
h1,h2,h3,h4 {
    background-color: #101010 !important;
    color: #b8ddea !important;
}
a {
    color: #70e070 !important;
}
a:hover,a:focus {
    color: #7070e0 !important;
}
a:visited {
    color: #e070b0 !important;
}
img {
    opacity: .7;
}
img:hover {
    opacity: 1;
}
._hintLabel {
    -webkit-transform:translate(-4px,-4px);
    position: absolute;
    z-index: 100000;
    text-transform: uppercase !important;
    background-color: #e0e070 !important;
    font:bold 1.2em monospace !important;
    color: #000 !important;
    background-color: #000;
    margin: 0;
    padding: 0px 1px;
    border: 1px solid #444;
    opacity: 0.7;
}
._hintElem._hintFocus {
    color: #f0f070 !important;
}
._hintElem._hintFocus img {
    opacity: 1;
}
