[Unit]
Description=Xorg Keyboard PerWindow - %P
Requires=wm.target
After=wm.target
PartOf=main.target
# Before=main.target

[Service]
# Type=dbus
# BusName=ru.gentoo.KbddService
# ALT:TRY:
# Type=idle
# NOTE:BAD: xmonad startup/EWMH initialized after this unit started.
ExecStartPre=/bin/bash -c 'systemctl --user is-active kbdd \
    >/dev/null || pkill -x kbdd; sleep 2'
ExecStart=/usr/bin/kbdd --nodaemon
# User=%i
# Group=users
# Restart=on-failure
Restart=always
RestartSec=1

[Install]
# Alias=dbus-ru.gentoo.KbddService.service
WantedBy=main.target
