[Unit]
Description=kbdd daemon

[Service]
Type=dbus
BusName=ru.gentoo.KbddService
ExecStart=/usr/bin/kbdd --nodaemon
# User=%i
# Group=users
# Environment=DISPLAY=:0
# Restart=on-failure
# Restart=always
# RestartSec=5

# [Service]
# Type=forking
# PIDFile=%t/kbdd.pid
# ExecStart=/usr/bin/kbdd
# ExecStop=/usr/bin/pkill kbdd
# Restart=always
# RestartSec=5

[Install]
# WantedBy=multi-user.target
Alias=dbus-ru.gentoo.KbddService.service
WantedBy=graphical.target
# WantedBy=environment.target
