[Unit]
Description=Xorg Keyboard PerWindow - %P
Requires=wm.target
After=wm.target
PartOf=main.target
# Before=main.target

[Service]
# Type=dbus
# BusName=ru.gentoo.KbddService
# ALT:TRY:
# Type=idle
# NOTE:BAD: xmonad startup/EWMH initialized after this unit started.
ExecStartPre=/bin/sh -c 'pkill -x kbdd; sleep 2'
ExecStart=/usr/bin/kbdd --nodaemon
ExecStop=/usr/bin/pkill -x kbdd
Restart=always
RestartSec=1
TimeoutStopSec=1

[Install]
# Alias=dbus-ru.gentoo.KbddService.service
WantedBy=main.target
