[Unit]
Description=Xorg - Keyboard Modifiers - %P
Requisite=xorg.target
# TEMP:FIX:(kbdd,compton) to reduce crashes on stop
After=xorg.target wm.target kbdd.service compton.service

[Service]
Type=forking
# ExecStartPre=/bin/sh -c 'pkill -x xcape; sleep 2'
ExecStartPre=/bin/sh -c 'pkill -x xcape; true'
# BAD: splitting quoted expression into multiline
# BUG: w/o '-d' when stopping 'xcape' ABRT coredump
ExecStart=/usr/bin/xcape -t 250 -e "ISO_Level3_Shift=Super_R;Overlay1_Enable=Multi_key"
# ExecStop=/usr/bin/kill -TERM $MAINPID
# StandardOutput=null
Restart=always
RestartSec=1
TimeoutStopSec=5

[Install]
WantedBy=main.target
