[Unit]
Description=Xorg Keyboard Layout
Requires=xorg.target
PartOf=xorg.target
After=xorg.target
ConditionFileNotEmpty=%h/.cache/airy/keylayout.xkm
# OR ExecStart=-/... to suppress warnings

[Service]
# CHECK:BUG: oneshot is not restarted on 'start main.target'?
Type=oneshot
RemainAfterExit=yes
# BUG: ExecStart=/usr/bin/xkbcomp %h/.cache/airy/keylayout.xkm ${DISPLAY}
# Environment=DISPLAY=:0
ExecStart=/bin/sh -c r.xkb-load
# BUG: drops layout even for :1
# ExecStop=/usr/bin/setxkbmap -option ""

[Install]
# MAYBE: Impossible to be part of {xorg,wm}.target?
# CHECK: r.init-graph
WantedBy=xorg.target
