[Unit]
Description=Xorg - Keyboard Layout - %P
Requisite=xorg.service
After=xorg.service xprofile.service
ConditionFileNotEmpty=%h/.cache/airy/keylayout.xkm
# OR ExecStart=-/... to suppress warnings

[Service]
# CHECK:BUG: oneshot is not restarted on 'start main.target'?
Type=oneshot
RemainAfterExit=yes
# ExecStartPre=/bin/sleep 1
# BUG: hangs when 'xkbcomp' launched directly
ExecStart=/usr/bin/xkbcomp %h/.cache/airy/keylayout.xkm ${DISPLAY}
# ExecStart=/bin/sh -c '/usr/bin/xkbcomp %h/.cache/airy/keylayout.xkm ${DISPLAY}'
# ExecStart=/bin/sh -c r.xkb-load

# BAD?(don't use it) -- fails on shutdown
# BUG:CHECK: drops layout even for :1
# ExecStop=/usr/bin/setxkbmap -display ${DISPLAY} -option ""

[Install]
WantedBy=xorg.target
