[Unit]
Description=SimpleRT Daemon

[Service]
# Type=simple
WorkingDirectory=/usr/lib/simple-rt
ExecStart=/usr/lib/simple-rt/simple-rt -i wlo1
Restart=always
RestartSec=1

PrivateTmp=true
# PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
# ProtectKernelTunables=true
InaccessibleDirectories=/sys

[Install]
WantedBy=multi-user.target
