[Unit]
Description=DE - Notification Daemon - %P
Requisite=wm.target
After=wm.target
# PartOf=main.target
# Before=main.target

[Service]
# BUG: can't start if another instance already running
# MAYBE: check some socket?
# TRY: rework to dbus-activated
ExecStartPre=/bin/sh -c 'pkill -x dunst; true'
## ALT: remove spam from journalctl (7+ msgs when closing any window)
ExecStart=/bin/bash -c 'exec 2> >(grep -vF "WARNING: BadWindow (invalid Window parameter)"); exec dunst'
# ExecStart=/usr/bin/dunst
# ExecSuspend=killall -SIGUSR2 dunst
Restart=always
RestartSec=1
TimeoutStopSec=5

[Install]
WantedBy=main.target
