[Unit]
Description=Synergy Client Daemon
Requires=xorg.target
After=wm.target
After=network.target

[Service]
ExecStart=/usr/bin/synergyc --no-daemon --debug NOTE 192.168.1.2
Restart=on-failure
RestartSec=3

[Install]
WantedBy=main.target
