# NOTE: '%{...}' are replaced '$ env-subs'

[Unit]
Description=Udev - Monitor Hotplug - %P
ConditionFileIsExecutable=%{HOME}/.bin/r.monitor-refresh
## BAD: can't bind to user's xorg.service
# Requisite=xorg.service
# After=xorg.service
# BindsTo=xorg.service ...

## TRY: copy *.rules with -E and run as --user
#   https://unix.stackexchange.com/questions/245768/managing-another-users-systemd-units
#   => DEV launching script into /usr/bin/local for root cmds to call user units

[Service]
Type=oneshot
TimeoutStartSec=15
RemainAfterExit=false
User=%{USER}
Environment=DEVPATH=%I
# NOTE: it must be loaded into env on login into X
Environment=DISPLAY=%{DISPLAY}
Environment=XAUTHORITY=%{HOME}/.Xauthority
Environment=PATH=%{HOME}/.bin:/usr/local/bin:/usr/bin
ExecStart=/bin/sh -c 'exec r.monitor-refresh'
