[Unit]
Description=Util - %P
# BUG: can't be launched even on demand
# FIXME:FIND: how to add condition on automatic launch only
# OR:(saw somewhere) ignore condition on manual launch
# ConditionHost=!neo
Requires=wm.target
After=wm.target
PartOf=main.target
Before=main.target

[Service]
Type=idle
ExecStart=/usr/bin/pidgin
# EXPL: Don't restart -- to close when needless
# NOTE: to run instance on second Xorg -- use 'pidgin -m'
# Restart=always
# RestartSec=5

[Install]
WantedBy=main.target
