[Unit]
Description=Xrandr - Monitor - %P
Requisite=xorg.target
After=xorg.target
Before=xprofile.service

[Service]
SyslogIdentifier=xprofile
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/dbus-update-activation-environment DISPLAY XAUTHORITY
ExecStart=/usr/bin/xrandr \
    --output HDMI-0 --auto \
    --delmonitor HDMI-0~1 \
    --delmonitor HDMI-0~2 \
    --delmonitor HDMI-0~3 \
    --setmonitor HDMI-0~1 995/226x1600/366+0+0 HDMI-0 \
    --setmonitor HDMI-0~2 2845/648x1600/366+995+0 none

# ALT: 24/100
# --setmonitor HDMI-0~1 921/209x1600/366+0+0 HDMI-0 \
# --setmonitor HDMI-0~2 2919/665x1600/366+921+0 none
# --mode 3840x1600 --rate 75

[Install]
WantedBy=xprofile.service
