#%USAGE: $ S.r mailsync-new@account.service

[Unit]
Description=Mailsync service - %P
Requisite=network.target
Requisite=network-online.target
# Requisite=netctl-ifplugd@enp0s25
Requires=network-online.target
After=network.target network-online.target

ConditionFileNotEmpty=/etc/systemd/system/notify-user@.service
ConditionFileNotEmpty=/var/lib/mailsync/sec/%i
ConditionFileNotEmpty=/home/%{USER}/.config/mbsync/acc/%i

OnFailure=notify-user@critical:OnFailure:%i-new.service

[Service]
Type=oneshot
User=%{USER}
Group=mailsync
Environment=PATH=/var/lib/mailsync/bin:/home/%{USER}/.local/bin:/usr/bin
ExecStart=/usr/bin/env r.mailsync %i -- -q new
SuccessExitStatus=0 13

PrivateTmp=true
PrivateDevices=true
ProtectSystem=strict
ProtectKernelTunables=true
