# TODO: sep unit with req dependency on davmail.service

[Unit]
Description=Mailsync service - %P
Requires=network.target network-online.target dbus.socket
After=network.target network-online.target dbus.socket
# ConditionDirectoryNotEmpty=/var/lib/mailsync
# ConditionFileNotEmpty=/var/lib/mailsync/%I
StartLimitBurst=3
StartLimitIntervalSec=10m
OnFailure=mailsync-notify@critical:OnFailure-%p:%i.service

[Service]
Type=oneshot
User=%{USER}
Group=mailsync
# ExecStartPre=-/usr/bin/env  r.mail-sync %I
ExecStart=/home/%{USER}/.local/bin/r.mailsync %I -q new
# NOTE: fetch-new are allowed to fail on long sync-all BUT not otherwise
SuccessExitStatus=0 13
# PrivateDevices=true
# ProtectSystem=strict
# ProtectKernelTunables=true
