[Unit]
Description=Mailsync timer - %P
Requisite=network.target
ConditionFileNotEmpty=/etc/systemd/system/notify-user@.service
ConditionFileNotEmpty=/var/lib/mailsync/sec/%i
ConditionFileNotEmpty=/home/%{USER}/.config/mbsync/acc/%i

[Timer]
OnBootSec=2m
OnUnitActiveSec=3m

[Install]
WantedBy=timers.target
