# SEE: http://superuser.com/questions/1033270/how-do-i-use-envsystemd-user-wants-in-udev-rule
# MANAGER_USER_WANTS
SUBSYSTEM=="drm", ACTION=="change", TAG+="systemd", RUN+="/bin/systemctl start --no-block monitors.service"
# SUBSYSTEM=="drm", ACTION=="change", TAG+="systemd", ENV{SYSTEMD_USER_WANTS}="monitors.service"
# ENV{SYSTEMD_READY}=1

# ATTRS{idProduct}=="1905",

# ATTRS{subsystem_device}=="0x1080"
# ATTRS{subsystem_vendor}=="0x1043"
# ATTRS{vendor}=="0x8086"

# BAD: security hole
# KERNEL=="card0", SUBSYSTEM=="drm", ACTION=="add", ENV{DISPLAY}=":0", RUN+="/home/user/bin/monitor-refresh -on"
