# NOTE: '%{...}' are replaced '$ env-subs'

[Unit]
Description=Udev - Monitor Hotplug - %P
ConditionFileIsExecutable=%{HOME}/.cache/airy/bin/r.monitor-refresh
# BindsTo=...

[Service]
Type=oneshot
TimeoutStartSec=15
RemainAfterExit=false
User=%{USER}
Environment=DEVPATH=%I
Environment=DISPLAY=%{DISPLAY}
Environment=XAUTHORITY=%{HOME}/.Xauthority
Environment=PATH=%{HOME}/.cache/airy/bin:/usr/local/bin:/usr/bin
ExecStart=/bin/sh -c 'exec r.monitor-refresh'
