[Unit]
Description=DE - Terminal Emulator - %P
Requires=xorg.target
# PartOf=wm.target
Conflicts=xmonad.service

[Service]
ExecStart=/usr/bin/st -n login -g 100x30+0+0

[Install]
WantedBy=wm.target
