[Unit]
Description=Xorg Socket
Conflicts=logoff.target
# PartOf=xorg.target
# CHECK: them must be implicit
# Before=xorg.service
# RequiresMountsFor=/tmp

[Socket]
ListenStream=/tmp/.X11-unix/X0
# SocketMode=0660
# DirectoryMode=0700
# ExecStartPost=-/usr/bin/systemctl --user set-environment DBUS_SESSION_BUS_ADDRESS=unix:path=%t/bus

[Install]
WantedBy=sockets.target
