[Unit]
Description=Xorg - Gnome Keyring - %P
Requisite=xorg.target
After=xorg.target xprofile.service
ConditionFileIsExecutable=/usr/bin/gnome-keyring-daemon

[Service]
SyslogIdentifier=gnome-keyring
ExecStart=/usr/bin/gnome-keyring-daemon -f --start --components=secrets

[Install]
WantedBy=wm.target

# SEE https://forums.bunsenlabs.org/viewtopic.php?id=1181
