<?xml version="1.0"?>
<config version="1.0">
  <Lib>
    <Account>
      <IdleTimeForAway>1200</IdleTimeForAway>
      <IdleTimeForNA>1800</IdleTimeForNA>
    </Account>
    <FileTransfer>
    </FileTransfer>
  </Lib>
  <UI>
    <API>
      <Authorizations>Pidgin</Authorizations>
    </API>
    <AutoUpdate>0</AutoUpdate>
    <Notifications>
      <Enable>
        <ContactOffline>0</ContactOffline>
        <ContactOnline>0</ContactOnline>
        <NotifySystem>
          <Chat>1</Chat>
        </NotifySystem>
        <SkypeAccess>0</SkypeAccess>
      </Enable>
    </Notifications>
    <Notify>
      <Chat>0</Chat>
    </Notify>
  </UI>
</config>
