[Unit]
Description=Desktop Background - %P
Requires=xorg.target
After=compton.service
PartOf=main.target

[Service]
# Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c r.feh

[Install]
WantedBy=main.target
