[Unit]
Description=DE - Wallpaper - %P
Requisite=wm.target
After=wm.target compton.service
# PartOf=main.target

[Service]
SyslogIdentifier=r.feh
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c '%h/.cache/airy/bin/r.feh'

[Install]
WantedBy=main.target
