[Unit]
Description=Util - %P
Requires=xorg.target
After=wm.target
PartOf=main.target
Before=main.target

[Service]
# BUG: can't start if another instance already running
# MAYBE: check some socket?
# TRY: rework to dbus-activated
ExecStartPre=/bin/sh -c 'pkill -x dunst; true'
ExecStart=/usr/bin/dunst
# ExecSuspend=killall -SIGUSR2 dunst
Restart=always
RestartSec=1

[Install]
WantedBy=main.target
