# [Unit]
# Description=
# Requires=dbus.socket

[Service]
Type=oneshot
TimeoutStartSec=5
RemainAfterExit=false
User=%{USER}
Environment=DISPLAY=%{DISPLAY}
Environment=XAUTHORITY=%{HOME}/.Xauthority
Environment=DBUS_SESSION_BUS_ADDRESS=%{DBUS_SESSION_BUS_ADDRESS}
ExecStart=/usr/bin/notify-send --urgency=critical OnFailure %I

PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
ProtectKernelTunables=true
