[Unit]
Description=Xorg - Settings - %P
Requisite=xorg.target
After=xorg.target
# After=xmonad.service
# CHECK why I can't load it before xmonad?
# MAYBE split file in two?
# Before=xmonad.service

[Service]
SyslogIdentifier=xprofile
Type=oneshot
RemainAfterExit=yes
# ExecStartPre=/bin/sleep 1
# ExecStart=/bin/sh -ec 'source ~/.xprofile'
ExecStartPre=/usr/bin/dbus-update-activation-environment DISPLAY XAUTHORITY
ExecStartPre=/usr/bin/xrdb -load %h/.Xresources
ExecStart=/usr/bin/xset b off s off dpms 1200 0 0 r rate 250 40
ExecStart=/usr/bin/xsetroot -cursor_name left_ptr
# EXPL:CHECK: because we can't replace setxkbmap by xorg.conf
ExecStart=/bin/sh -c '%h/.bin/r.xkb'

[Install]
WantedBy=wm.target
