# /etc/udev/rules.d/99-lowbat.rules
# Suspend the system when battery level drops to 9% or lower
SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", ATTR{capacity}=="[0-9]", RUN+="/usr/bin/systemctl hibernate"
