[Unit]
Description=Demon - Tmux Server
Documentation=man:tmux(1)
# PartOf=demons.target
# After=gpg-agent.service
# After=tmp.mount
RequiresMountsFor=/tmp

[Service]
# ALT:SEE: https://askubuntu.com/questions/802189/how-to-run-tmux-screen-with-systemd-230
Type=forking
# THINK:CHG? use /bin/sh to reduce startup time? '-l' for login?
ExecStart=/usr/bin/tmux start-server ';' new-session -d -s %u $SHELL -l
ExecStop=/usr/bin/tmux kill-server
# EnvironmentFile=/tmp/gpg-agent-info
Restart=always

[Install]
WantedBy=demons.target
