[Unit]
Description=MPD playback logger
Requires=mpd.service
After=mpd.service
PartOf=demons.target

[Service]
ExecStart=/bin/sh -c r.mpd-log
Restart=always
RestartSec=5

[Install]
WantedBy=demons.target
