[Unit]
Description=Demon - Music Player Daemon
After=network.target sound.target mpd.socket

[Service]
ExecStart=/usr/bin/mpd --no-daemon

# allow MPD to use real-time priority 50
LimitRTPRIO=50
LimitRTTIME=infinity

[Install]
WantedBy=demons.target
Also=mpd.socket
