[Unit]
Description=Demon - Dictionary Server %P
After=network.target
ConditionFileNotEmpty=/etc/dict/dictd.conf
ConditionDirectoryNotEmpty=/usr/share/dictd

[Service]
# EnvironmentFile=-/etc/conf.d/dictd
RuntimeDirectory=%P
PIDFile=%t/%P/%P.pid
# ALT: systemd-tmpfiles --create bitlbee.conf
# $ cat /usr/lib/tmpfiles.d/bitlbee.conf
# d /run/bitlbee 0755 bitlbee bitlbee - -

Type=forking
User=nobody
## BET: move/mount dicts directly to /usr/share/dictd instead of keeping on shared media partition
# Group=users
# CMP: with /etc/conf.d/dictd
ExecStart=/usr/bin/dictd --pid-file %t/%P/%P.pid --config /etc/dict/dictd.conf -- -s
# EXPL: 143 = 128 + 15(SIGTERM)
SuccessExitStatus=0 143

PrivateTmp=true
PrivateDevices=true
## WARN: no access to symlink /usr/share/dictd if it points to /home
ProtectHome=true
ProtectSystem=strict
ProtectKernelTunables=true
# InaccessibleDirectories=/sys

[Install]
WantedBy=multi-user.target
