[Unit]
Description=Xorg Desktop Environment
PartOf=default.target
After=default.target wm.target
AllowIsolate=true
# Conflicts=shutdown.target reboot.target halt.target
