[Unit]
Description=WM - (Target)
Conflicts=logoff.target
# After=xorg.target
# PartOf=main.target
AllowIsolate=true

[Install]
RequiredBy=main.target
