[Unit]
Description=Xorg Server
Requires=xorg.socket
PartOf=xorg.target

[Service]
Type=simple
SuccessExitStatus=0 1
# SIGKILL
# BAD: ExecStartPre=/usr/bin/systemctl --user set-environment DISPLAY=:0
ExecStart=/usr/bin/Xorg ${DISPLAY} vt${XDG_VTNR} -nolisten tcp -noreset -keeptty -verbose 2 -dpms -c -f 0 -s 0 -ardelay 250 -arinterval 25
ExecStartPost=-/usr/bin/dbus-update-activation-environment DISPLAY=${DISPLAY}
# XAUTHORITY
# BUG:(hangs-up) ExecStartPost=-/usr/bin/xsetroot -cursor_name left_ptr
# EXPL: ExecStart -- not returns. SEE: ExecStartPost execution conditions
# ExecStopPost=/usr/bin/systemctl --user unset-environment DISPLAY
