[Unit]
Description=DE - Clipboard Manager - %P
Requisite=xorg.target
After=default.target dbus.service xorg.target wm.target compton.service
# ALT: create replaceable .socket
# RequiresMountsFor=%h/.config/copyq
# MAYBE: it tries to launch Xorg on restart -- therefore hangs?

[Service]
# NOTE: to run instance on second Xorg -- use 'copyq -s ses1'
# ALT: use $DISPLAY or $XDG_VTNR as session name
Environment=TMPDIR=/tmp/%u/copyq
ExecStartPre=/bin/sh -euc 'mkdir -p "$TMPDIR"; pkill -fx /usr/bin/copyq || true'
ExecStart=/usr/bin/copyq
# MAYBE:BUG: additional commands instead of replacement
# BAD: error on 'stop' of failed process
# ExecStop=/usr/bin/copyq exit
Restart=always
RestartSec=3
TimeoutStopSec=3

[Install]
WantedBy=main.target
